/* wide scale elements that cover the entire page */

html, body {
    height: 99.1%;
    max-width: 100%;
    min-height: 620px;
    min-width: 1075px;
}

body {
    /*background-image: url("../images/gradient-bg.jpg");*/
    font-family: "Helvetica", "Arial", sans-serif;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/* navbar and banner */

.nav {
    background-color: black;
    background-color: black;
    border-bottom: 4px ridge firebrick;
}

/* the ul is set to display: flex, and li set to display: table-cell with margin: auto. This is how the list spans 100% width on screen. */
.nav-models {
    display: flex;
    padding: 0 30px 0 30px;
    margin: 10px;
    margin-bottom: 11px;
    list-style: none;
}

.nav-models li {
    display: table-cell;
    width: 14.2%;
    margin: 4px auto;
}

.nav-models li p {
    color: white;
    text-shadow: 1px 1px 4px black;
    text-decoration: none;
    margin: 0;
}

.banner {
    height: 50px;
    /*background-image: url("../images/gradient-bg.jpg");*/
    opacity: 95%;
}

/* adds the names to the buttons at the top of the screen */

#buttonAll:before {
    content: "All";
}

#button911:before {
    content: "356/911 Series";
}

#button944:before {
    content: "924/944/928/968";
}

#buttonBoxster:before {
    content: "914/Boxster/Cayman";
}

#buttonSUVs:before {
    content: "Sedans/SUVs";
}

#buttonConcepts:before {
    content: "Porsche Concepts";
}

#buttonRacing:before {
    content: "Racing Models";
}

/* Porsche timeline */

.bottomOfPage {
    border-top: 4px groove firebrick;
    padding-top: 15px;
    margin-top: 0px;
}

.slideContainer {
    display: flex;
    width: 97%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    margin: auto;
    background-image: url(../images/timeline.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 96.7%;
    height: 50px;
    outline: none;
    margin: auto;
    background: none;
    position: relative;
    bottom: 14px;
    -webkit-transition: .1s;
    transition: background .1s;
}

.slider:hover {
    background: rgba(1, 1, 1, 0.20);
    cursor: pointer;
}

/* this is the part of the slider you can click and move */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 32px;
    margin-bottom: 1px;
    background: firebrick;
    cursor: pointer;
    border: 1px solid black;
}

.slider::-moz-range-thumb {
    width: 6px;
    height: 25px;
    background: firebrick;
    cursor: pointer;
}

.slider:hover::-webkit-slider-thumb {
    background: white;
    border: 1px solid white;
    box-shadow: 0 0 16px white;
}

.slider:active::-webkit-slider-thumb {
    background: sienna;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
}

/* content area, the major visible part of the webpage */

.content {
    height: 76.5%;
    background-color: white;
}

.porscheThumbnail {
    height: 87.15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px groove gray;
    border-bottom: 3px groove gray;
}

.porscheImageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../images/911_997.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0%;
    -webkit-transition: left 1.4s ease-in;
    -moz-transition: left 1.4s ease-in;
    -ms-transition: left 1.4s ease-in;
    -o-transition: left 1.4s ease-in;
    transition: left 1.4s ease-in;
}

.porscheName {
    display: flex;
    height: 6%;
    text-align: center;
    font-size: 1.78em;
    text-shadow: 1px 1px 3px white;
    -webkit-transition: opacity 1.4s ease-in;
    -moz-transition: opacity 1.4s ease-in;
    -ms-transition: opacity 1.4s ease-in;
    -o-transition: opacity 1.4s ease-in;
    transition: opacity 1.4s ease-in;
    opacity: 1;
}

#porscheNameTop {
    background-image: linear-gradient(aliceblue, white);
}

#porscheNameBottom {
    background-image: linear-gradient(white, aliceblue);
}

.porscheName p {
    margin: 0;
    padding: 0;
}

#porscheYear {
    margin: auto;
    padding-bottom: 1px;
}

#porscheModel {
    display: inline-block;
    padding-top: 3px;
}

/* content area animations for the image and text */

.animationImageThrowLeft {
    left: -101%;
}

.animationImageThrowRight {
    left: 101%;
}

.animationTextThrow {
    opacity: 0;
}

/* table items for the bottom bar of the content area */

.tableWrapper {
    margin: auto;
    display: table-cell;
    width: 1025px;
    height: 44px;
    overflow: hidden;
}

#arrowsContainerLeft, #arrowsContainerRight {
    height: 44px;
}

#arrowsContainerLeft {
    float: left;
}

#arrowsContainerRight {
    float: right;
}

.tableWrapper .porscheArrowsLeft {
    float: left;
    margin: 0 20px 0 0;
}

.tableWrapper .porscheArrowsRight {
    float: right;
    margin: 0 0 0 20px;
}

.tableWrapper .upArrows, .tableWrapper .downArrows {
    opacity: .4;
    background: lightgray;
    height: 85%;
    display: block;
    margin-top: -5px;
    font-size: 1.25em;
    -webkit-transition: .1s;
    transition: opacity .1s;
}

.tableWrapper .upArrows {
    padding: 5px 10px 4px 10px;
}

.tableWrapper .downArrows {
    padding: 0 10px 9px 10px;
}

.upArrows:hover, .downArrows:hover {
    opacity: 1;
    cursor: pointer;
    background: silver;
}

.upArrows:active, .downArrows:active {
    transform: translateY(2px);
    background: dimgray;
}

/* buttons and other smaller items */

.porscheButton {
    display: block;
    padding: 4px 0 4px 0;
    font-size: 1.25em;
    text-align: center;
    background: firebrick;
    border: 2px solid black;
    border-radius: 3px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.porscheButton:hover {
    background: rgb(255,238,0);
    box-shadow: 0 0 6px white;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.porscheButton:active {
    background: sienna;
    box-shadow: 0 0 0 white;
    letter-spacing: 0.6px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.porscheFamilyButton:active {
    transform: translateY(2px);
}

.porsche-model-family {
    height: 36px;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.porsche-model-family .selectedFamily {
    border: 3px inset gold;
    margin-top: -3px;
}

.porsche-model-family .selectedFamily:active {
    border: 3px inset darkgoldenrod;
}

/* media queries */
/* ones that adjust the central content based on current viewport height, the base one handles low verticality badly */
@media all and (max-height: 900px) {
    .porscheThumbnail {
        height: 87.5%;
    }
    .tableWrapper {
        width: 75%;
        max-width: 1025px;
        min-width: 900px; 
    }
}

@media all and (max-height: 840px) {
    .porscheThumbnail {
        height: 88%;
    }
    .porscheName {
        height: 5.9%;
    }
    #porscheModel {
        padding-top: 4px;
    }
    .tableWrapper .porscheArrowsLeft, .tableWrapper .porscheArrowsRight {
        font-size: 0.88em;
        height: 74%;
    }
    .porscheName p {
        font-size: 0.9em;
    }
}

@media all and (max-height: 800px) {
    .porscheThumbnail {
        height: 87.5%;
    }
}

@media all and (max-height: 730px) {
    .porscheThumbnail {
        height: 88%;
    }
    .porscheName {
        height: 5.8%;
    }
    #porscheModel {
        padding-top: 0;
        transform: translateY(-2px);
    }
    #arrowsContainerLeft, #arrowsContainerRight {
        height: 33px;
    }
    .tableWrapper .porscheArrowsLeft, .tableWrapper .porscheArrowsRight {
        font-size: 0.75em;
        height: 85%;
    }
    .porscheName p {
        font-size: 0.8em;
    }
    .tableWrapper {
        height: 33px;
    }
}

@media all and (max-height: 660px) {
    .porscheThumbnail {
        height: 87.2%;
    }
}

/* ones that adjust content based on the screen's width */

@media all and (max-width: 1500px) {
    #buttonBoxster:before {
        content: "914/Boxster";
    }
}

@media all and (max-width: 1350px) {
    #buttonConcepts:before {
        content: "Concepts";
    }
    .nav-models {
        padding: 0 15px 0 15px;
    }
    .slideContainer {
        width: 100%;
    }
}

@media all and (max-width: 1250px) {
    #button911:before {
        content:"356/911";
    }
    #button944:before {
        content:"944/928";
    }
    #buttonSUVs:before {
        content:"Sedan/SUV";
    }
    #buttonRacing:before {
        content: "Racing";
    }
}