/* wide scale elements that cover the entire page */

html, body {
    height: 99.1%;
    max-width: 100%;
    min-height: 620px;
    min-width: 1075px;
}

body {
    /*background-image: url("../images/gradient-bg.jpg");*/
    font-family: "Helvetica", "Arial", sans-serif;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}

/* navbar and banner */

.nav {
    background-color: black;
    background-color: black;
    border-bottom: 4px ridge firebrick;
}

/* the ul is set to display: flex, and li set to display: table-cell with margin: auto. This is how the list spans 100% width on screen. */
.nav-models {
    display: flex;
    padding: 0 30px 0 30px;
    margin: 10px;
    margin-bottom: 7px;
    list-style: none;
}

.nav-models li {
    display: table-cell;
    width: 14.2%;
    margin: 4px auto;
}

.nav-models li p {
    margin: 0;
}

.banner {
    height: 50px;
    /*background-image: url("../images/gradient-bg.jpg");*/
    opacity: 95%;
}

/* adds the names to the buttons at the top of the screen */
#buttonAll:before {
    content: "All";
}

#button911:before {
    content: "356/911 Series";
}

#button944:before {
    content: "924/944/928/968";
}

#buttonBoxster:before {
    content: "914/Boxster/Cayman";
}

#buttonSUVs:before {
    content: "Sedans/SUVs";
}

#buttonConcepts:before {
    content: "Porsche Concepts";
}

#buttonRacing:before {
    content: "Racing Models";
}

/* Porsche timeline */

.slideContainer {
    display: flex;
    width: 97%;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    margin: auto;
    background-image: url(../images/timeline.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 96.7%;
    height: 50px;
    outline: none;
    margin: auto;
    background: none;
    position: relative;
    bottom: 14px;
    -webkit-transition: background 0.15s ease-out;
    -moz-transition: background 0.15s ease-out;
    -ms-transition: background 0.15s ease-out;
    -o-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
}

.slider:hover {
    background: rgba(1, 1, 1, 0.20);
    cursor: pointer;
}

/* this is the part of the slider you can click and move */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 32px;
    margin-bottom: 1px;
    background: firebrick;
    cursor: pointer;
    border: 1px solid black;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.slider::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8px;
    height: 32px;
    margin-bottom: 1px;
    background: firebrick;
    cursor: pointer;
    border: 1px solid black;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.slider:hover::-webkit-slider-thumb {
    background: white;
    border: 1px solid white;
    box-shadow: 0 0 16px white;
    transform: scale(1.08);
}

.slider:active::-webkit-slider-thumb {
    background: sienna;
    border: 1px solid black;
    box-shadow: 0 0 2px black;
    transform: scale(1.0);
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    transition: all 0s ease-out;
}

/* content area, the major visible part of the webpage */
/* Includes the car's image, the top bar with the car's model year, and the bottom vertical navigation bar/model name combo. */

.content {
    height: 78%;
    background-color: white;
}

.porscheThumbnail {
    height: 87.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px groove gray;
    border-bottom: 3px groove gray;
}

.porscheImageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../images/911_997.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    left: 0%;
    -webkit-transition: left 1.4s ease-in;
    -moz-transition: left 1.4s ease-in;
    -ms-transition: left 1.4s ease-in;
    -o-transition: left 1.4s ease-in;
    transition: left 1.4s ease-in;
}

.porscheName {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6%;
    font-size: 1.78em;
    opacity: 1;
    text-shadow: 2px 2px 5px lightgray;
    -webkit-transition: opacity 1.4s ease-in;
    -moz-transition: opacity 1.4s ease-in;
    -ms-transition: opacity 1.4s ease-in;
    -o-transition: opacity 1.4s ease-in;
    transition: opacity 1.4s ease-in;
}

#porscheNameTop {
    background-image: linear-gradient(aliceblue, white);
}

#porscheNameBottom {
    background-image: linear-gradient(white, aliceblue);
}

#porscheYear, #porscheModel {
    margin: auto;
}

#porscheModel {
    padding-bottom: 1px;
}

.bottomBorderLine {
    height: 3px;
    background: aliceblue;
    border-bottom: 4px groove firebrick;
}

.bottomOfPage {
    padding-top: 10px;
    margin-top: 0px;
}

/* content area animations for the image and text */

.animationImageThrowLeft {
    left: -101%;
}

.animationImageThrowRight {
    left: 101%;
}

.animationTextThrow {
    opacity: 0;
}

/* table items for the bottom bar of the content area */
/* The bottom bar displays the porsche's model name and vertical navigation buttons */

.tableWrapper {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54.5%;
    min-width: 1024px;
    height: 100%;
    overflow: hidden;
}

.tableWrapper .upArrows, .tableWrapper .downArrows {
    display: block;
    font-size: 1.36em;
    margin: 0;
    opacity: 0.4;
    background: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.tableWrapper .upArrows {
    padding-top: 5px;
}

.tableWrapper .downArrows {
    padding-bottom: 7px;
}

#arrowsContainerLeft, #arrowsContainerRight {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#arrowsContainerLeft, .tableWrapper .porscheArrowsLeft {
    float: left;
}

#arrowsContainerRight, .tableWrapper .porscheArrowsRight {
    float: right;
}

#arrowsContainerLeft .upArrows, #arrowsContainerLeft .downArrows {
    margin-right: 15px;
    margin-left: 10px;
}

#arrowsContainerRight .upArrows, #arrowsContainerRight .downArrows {
    margin-left: 15px;
    margin-right: 10px;
}

.upArrows:hover, .downArrows:hover {
    opacity: 1;
    cursor: pointer;
    transform: scale(1.1);
    background: silver;
}

.upArrows:active, .downArrows:active {
    background: dimgray;
    transform: translateY(2px);
    -webkit-transition: all 0s ease-out;
    -moz-transition: all 0s ease-out;
    -ms-transition: all 0s ease-out;
    -o-transition: all 0s ease-out;
    transition: all 0s ease-out;
}

/* buttons and other smaller items */

.porscheButton {
    color: white;
    text-shadow: 1px 1px 4px black;
    text-decoration: none;
    display: block;
    padding: 4px 0 4px 0;
    font-size: 1.25em;
    text-align: center;
    background: firebrick;
    border: 2px solid black;
    border-radius: 3px;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    -ms-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}

.porscheButton:hover {
    background: rgb(255,246,0);
    box-shadow: 0 0 7px white;
    letter-spacing: 0.6px;
    cursor: pointer;
}

.porscheButton:active {
    background: sienna;
    box-shadow: 0 0 0 white;
    letter-spacing: 0.6px;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.porscheFamilyButton:active {
    transform: translateY(2px);
}

.porsche-model-family {
    height: 36px;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    -o-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
}

.porsche-model-family .selectedFamily {
    border: 3px inset gold;
    margin-top: -3px;
}

.porsche-model-family .selectedFamily:active {
    border: 3px inset darkgoldenrod;
}

/* Temporary button that calls Ajax */
#buttonAjax:before {
    content: "Establish a Database Connection";
}

#porscheLoaderButton {
    margin: 0;
}

#buttonAjax {
    font-size: 1em;
    opacity: 0.4;
}

#buttonAjax:hover {
    opacity: 1;
}

#buttonAjax:active {
    transform: translateY(2px);
}

#ajaxStatus {
    color: blueviolet;
    margin: 4px auto;
    display: none;
    text-align: center;
}

/* media queries */
/* ones that adjust the central content based on current viewport height, the base one handles low verticality badly */
@media all and (max-height: 840px) {
    .porscheName p {
        font-size: 0.95em;
    }
}

@media all and (max-height: 730px) {
    .porscheName p {
        font-size: 0.9em;
    }
}

/* ones that adjust content based on the screen's width */

@media all and (max-width: 1580px) {
    #buttonBoxster:before {
        content: "914/Boxster";
    }
    #buttonConcepts:before {
        content: "Porsche Concept";
    }
    .nav-models {
        padding: 0 25px 0 25px;
    }
    .slideContainer {
        width: 98%;
    }
}

@media all and (max-width: 1380px) {
    #buttonConcepts:before {
        content: "Concepts";
    }
    .nav-models {
        padding: 0 15px 0 15px;
    }
    .slideContainer {
        width: 99%;
    }
}

@media all and (max-width: 1280px) {
    #button911:before {
        content:"356/911";
    }
    #button944:before {
        content:"944/928";
    }
    #buttonSUVs:before {
        content:"Sedan/SUV";
    }
    #buttonRacing:before {
        content: "Racing";
    }
    .nav-models {
        padding: 0 10px 0 10px;
    }
    .slideContainer {
        width: 100%;
    }
}