/* This CSS file contains styling features I don't want to share between the timeline and showcase pages. */

.porscheThumbnail:hover {
    background: rgba(255,246,0,0.44);
}

.beaImageWrapper:hover, .beaImageWrapper:focus {
    border-bottom: 3px solid rgb(255,246,0);
    border-top: 3px solid rgb(255,246,0);
}

.beaImageWrapper:active {
    border-bottom: 3px solid sienna;
    border-top: 3px solid sienna;
    transform: translateY(2px);
}