/* This CSS file contains styling features I don't want to share between the timeline and showcase pages. */

.porscheImageWrapper:hover, .porscheImageWrapper:focus {
    border-bottom: 3px solid rgb(255,246,0);
    border-top: 3px solid rgb(255,246,0);
    box-shadow: 0 0 7px white;
    cursor: pointer;
}

.porscheImageContainer:before {
    content: "";
    height: 0px;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: background .45s ease-out;
    -moz-transition: background .45s ease-out;
    -ms-transition: background .45s ease-out;
    -o-transition: background .45s ease-out;
    transition: background .45s ease-out;
}

.porscheImageWrapper:hover .porscheImageContainer, .porscheImageWrapper:focus .porscheImageContainer {
    transform: scale(1.11);
}

.porscheImageWrapper:hover .porscheImageContainer:before, .porscheImageWrapper:focus .porscheImageContainer:before {
    height: 100%;
    width: 100%;
    background: rgba(255,246,0,0.36);
}

.porscheImageWrapper:active {
    border-bottom: 3px solid sienna;
    border-top: 3px solid sienna;
    transform: translateY(2px);
}

.porscheImageWrapper:active .porscheImageContainer:before {
    background: sienna;
    opacity: 0.36;
}